# Copy this file to the root of the project with the name .env
MESSENGER_TRANSPORT_DSN=amqp://guest:guest@localhost:5672/%2f/messages
APP_ENV=dev
AUTHOR_NAME="Barney Hanlon"
AUTHOR_EMAIL="barney@shrikeh.net"