---
# This file contains configuration for Back Offices Vagrant file

# Virtual Machine Settings
vm:
  # How much RAM should hosts have?
  host_memory: 1280
  # How many CPU's should hosts have?
  host_cpus: 2
  # What network adapter should be bridged to by default (full name, for example "en4: Thunderbolt Ethernet")?
  network_bridge: ''
  # Which base box should be used for PHP7...
  php7_box: worldfirst/base_ubuntu_1604

  # What Private IP address
  ip: 192.168.5.101
  # use NFS as the shared folder implementation
  use_nfs_synced_folders: true
client_comms:
  ip: 192.168.5.100
  domain: client-communications.vagrant.worldfirst.local
#Required to connect to Kafka container
kafka:
  # Modify it by using your local docker machine ip.
  ip: 192.168.99.100
  # Modify it by using your local Kafka container's hostname.
  hostname: kafka
error:
  email: <your-email.address>@worldfirst.com
blackfire:
  enabled: false
  server_id: <server-id-here>
  server_token: <server-token-here>
database:
  seed: 'on'

hostname: testing.shrikeh.net
box:
  usebakebox: false
  ip: 10.1.1.1
  memory: 1024

ansible:
    playbook: false